<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

 
 
 <!--  <security-constraint>
      <web-resource-collection>
         <web-resource-name>SecuredBookSite</web-resource-name>
         <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
      </web-resource-collection>
      
      <auth-constraint>
      
         <description>Let only managers use this app</description>
         <role-name>manager</role-name>
      </auth-constraint>
   </security-constraint>
   <login-config>
      <auth-method>FORM</auth-method>
      <form-login-config>
         <form-login-page>/login.jsp</form-login-page>
         <form-error-page>/error.jsp</form-error-page>
      </form-login-config>
   </login-config> -->
  
 
  
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>api</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartAction</display-name>
    <servlet-name>CartAction</servlet-name>
    <servlet-class>controller.CartAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAction</servlet-name>
    <url-pattern>/CartAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllController</display-name>
    <servlet-name>AllController</servlet-name>
    <servlet-class>controller.AllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllController</servlet-name>
    <url-pattern>/AllController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Empty</display-name>
    <servlet-name>Empty</servlet-name>
    <servlet-class>controller.Empty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Empty</servlet-name>
    <url-pattern>/Empty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAction</display-name>
    <servlet-name>DeleteAction</servlet-name>
    <servlet-class>controller.DeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAction</servlet-name>
    <url-pattern>/DeleteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCart</display-name>
    <servlet-name>UpdateCart</servlet-name>
    <servlet-class>controller.UpdateCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCart</servlet-name>
    <url-pattern>/UpdateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>controller.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordAction</display-name>
    <servlet-name>ForgetPasswordAction</servlet-name>
    <servlet-class>controller.ForgetPasswordAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordAction</servlet-name>
    <url-pattern>/ForgetPasswordAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordAction2</display-name>
    <servlet-name>ForgetPasswordAction2</servlet-name>
    <servlet-class>controller.ForgetPasswordAction2</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>RegiterAction</display-name>
    <servlet-name>RegiterAction</servlet-name>
    <servlet-class>controller.RegiterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordAction2</servlet-name>
    <url-pattern>/ForgetPasswordAction2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegiterAction</servlet-name>
    <url-pattern>/RegiterAction</url-pattern>
  </servlet-mapping>
</web-app>